################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ApplicationMgt/FileContentIndex/2e2d8b27-5a27-493c-961d-9f0eed289d9e.vsidx
/.vs/ApplicationMgt/FileContentIndex/27e4dc46-3ad0-4322-8310-0ac921563dc3.vsidx
/.vs/ApplicationMgt/FileContentIndex/29d6baff-1d81-4b3a-b104-a4695dc3d31d.vsidx
/.vs/ApplicationMgt/FileContentIndex/6c6bfb18-eda5-43fa-bc66-249ec8801805.vsidx
/.vs/ApplicationMgt/FileContentIndex/7e2b8651-3cfb-420e-a966-b907b1e35a78.vsidx
/.vs/ApplicationMgt/FileContentIndex/e3a938cc-4670-48d0-9456-cde8125176bf.vsidx
